---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { HOMEPAGE_URL } from '../config'
import Masthead from '@components/Masthead.astro'
import { IoArrowForward } from 'react-icons/io5/index.js'
import { Image } from '@astrojs/image/components'
import fs from 'fs'

// 获取文件创建和修改时间的函数
function getFileTimes(filePath: string) {
  const stats = fs.statSync(filePath)
  return {
    created: stats.birthtime,
    modified: stats.mtime
  }
}

// 设置文章的创建时间和修改时间
;(await Astro.glob('./posts/*.md')).forEach((post: any) => {
  console.log(post.file)
  const times = getFileTimes(post.file)
  post.frontmatter.createdAt = times.created
  post.frontmatter.updatedAt = times.modified
})

const posts = (await Astro.glob('./posts/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <section>
          <p class="mb-8 indent-8">
            我是一个Java开发工程师，目前在一家互联网公司从事后端开发的工作。
            我现在主要的开发工具为 MacBook Air M1，主要使用 Jetbrains 的 IDE
            进行开发，喜欢Vim 与 Linux。
            目前计划并希望自己能在开源上有所贡献，正在努力阅读社区优秀的开源项目，
            想能有所成长与突破，希望自己可以坚持下去。
          </p>
          <a
            class="mb-8 inline-flex items-center gap-1 indent-1 text-orange-500"
            href={HOMEPAGE_URL}
          >
            了解更多关于我
            <IoArrowForward className="inline" />
          </a>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => {
                console.log(post.url)
                return (
                  <li class="text-center mb-4">
                    <a href={post.url}>
                      <Image
                        class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                        src={post.frontmatter.heroImage}
                        width={720 * 2}
                        aspectRatio={16 / 9}
                        alt="Thumbnail"
                        format={post.frontmatter.iamgeFormat ?? 'avif'}
                      />
                      <div class="mt-3 text-xl font-bold">
                        {post.frontmatter.title}
                      </div>
                      {post.frontmatter.description && (
                        <div class="opacity-70">
                          {post.frontmatter.description}
                        </div>
                      )}
                    </a>
                  </li>
                )
              })
            }
          </ul>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
