---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { HOMEPAGE_URL } from '../config'
import { IoArrowForward } from 'react-icons/io5'
import type { MarkdownInstance } from 'astro'
import type { Frontmatter } from '../types'
import ScrollHero from '@components/ScrollHero'
import Video from '@components/Video'

const posts = (Object.values(
    import.meta.glob<MarkdownInstance<Frontmatter>>('./posts/*.md', { eager: true }))
).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
)
---

<!doctype html>
<html lang='en'>
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <!-- 消除IDE误报，其实并不需要这行 -->
  <title>{SITE_TITLE}</title>
</head>
<Body>
<Header title={SITE_TITLE} />
<main>
  <!-- ← ScrollHero 组件 -->
  <ScrollHero client:load>
    <Video client:load />
  </ScrollHero>

  <!-- ← 正常内容区域 (解锁后显示) -->
  <Content>
    <section class='flex justify-end'>
      <a
        class='mt-8 inline-flex items-center gap-1 indent-1 text-orange-500'
        href={HOMEPAGE_URL}
      >
        了解更多关于我
        <IoArrowForward className='inline' />
      </a>
    </section>
  </Content>
</main>
<Footer />
</Body>
</html>
